#header {
	width: 405px;
	margin: 0 auto;
	.display {
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		font-size: 50pt;
		margin: 15px 0;
		background: @bgColor;
		float: left;
	}

	.controls {
		width: 165px;
		margin: 19px 20px;
		float: left;
		.btn {
			width: 80px;
			height: 30px;
			margin: 2px auto;
			line-height: 30px;
			cursor: pointer;
			text-align: center;
			display: inline-block;
			background: @bgColor;
			opacity: 1;
			.transition();
			&.inactive {
				opacity: .5;
			}
		}
	}

	.score {
		width: 100px;
		height: 100px;
		line-height: 100px;
		text-align: center;
		font-size: 50pt;
		margin: 15px 0;
		background: @bgColor;
		float: left;
	}

	.clear {
		clear: both;
	}
}

#grid {
	width: 600px;
	height: 600px;
	margin: 0 auto;
	background: @bgColor;
	.row {
		width: 600px;
		height: 57px;
		.square {
			width: 57px;
			height: 57px;
			border: 1px @borders solid;
			text-align: center;
			font-size: 15pt;
			cursor: pointer;
			.transition(.3s);
			&.start {
				background: darken(@bgColor, 40%) !important;
				color: white;
			}
			&.actual {
				background: darken(@bgColor, 30%);
			}
			&.hint {
				background: green;
			}
			&.filled {
				background: darken(@bgColor, 15%);
			}
		}
	}
}